<div class="row" id="content-body">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src=<%= blog.image %>>
        <span class="card-title"><%=blog.title %></span>
        <span class="author">投稿者: <%= blog.user.name %></span>
      </div>
      <div class="card-content">
        <p><%= blog.text %></p>
      </div>
      <div class="card-action">
       <% if user_signed_in? && current_user.id == blog.user_id %>
         <%= link_to "削除", "/blogs/#{blog.id}", method: :delete %>
         <%= link_to "編集", "/blogs/#{blog.id}/edit", method: :get %>
       <% end %>
      </div>
    </div>
  </div>
</div>
